<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.spacebook">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Spacebook"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".facts_about_space"
            android:exported="false" />
        <activity
            android:name=".space_travel"
            android:exported="false" />
        <activity
            android:name=".share_activity"
            android:exported="false" />
        <activity
            android:name=".add_content"
            android:exported="false" />
        <activity
            android:name=".web_view"
            android:exported="false" />
        <activity
            android:name=".feedBack"
            android:exported="false" />
        <activity
            android:name=".toogleButton"
            android:exported="false" />
        <activity
            android:name=".userpage"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name="com.example.login1.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".splash_screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".jameswebframelayout"
            android:exported="false" />
        <activity
            android:name=".nestedscrollview"
            android:exported="false" />
        <activity
            android:name=".scrollview"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>